In [2]:
import pandas as pd

In [3]:
dataset_path = 'datasets/cola_public/raw/'

In [4]:
df_train = pd.read_csv(f'{dataset_path}in_domain_train.tsv', 
                 delimiter='\t', 
                 header=None, 
                 names=['sentence_source', 'label', 'label_notes', 'sentence'])

In [5]:
df_train.head()

,sentence_source,label,label_notes,sentence
0,gj04,1,NaN,"Our friends won't buy this analysis, let alone..."
1,gj04,1,NaN,One more pseudo generalization and I'm giving up.
2,gj04,1,NaN,One more pseudo generalization or I'm giving up.
3,gj04,1,NaN,"The more we study verbs, the crazier they get."
4,gj04,1,NaN,Day by day the facts are getting murkier.

In [6]:
df_train.sentence_source.value_counts()

sentence_source
ks08      1745
l-93      1294
r-67       916
ad03       852
c_13       778
bc01       772
sks13      573
m_02       378
b_73       238
cj99       210
d_98       162
sgww85     139
rhl07      134
gj04        99
g_81        99
b_82        83
kl93        79
Name: count, dtype: int64

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8551 entries, 0 to 8550
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sentence_source  8551 non-null   object
 1   label            8551 non-null   int64
 2   label_notes      2527 non-null   object
 3   sentence         8551 non-null   object
dtypes: int64(1), object(3)
memory usage: 267.3+ KB

In [8]:
df_train.label.value_counts()

label
1    6023
0    2528
Name: count, dtype: int64

In [9]:
df_train.sentence.apply(lambda x: len(x.split('.'))).value_counts()

sentence
2    7538
1     990
3      20
4       3
Name: count, dtype: int64

In [10]:
# df_train.sentence.apply(lambda x: len(x.split('.')))